<!DOCTYPE html>
<html>
<head>
  <title>Provisioning Test Page</title>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <style type="text/css">
    body {
      text-align:center;
      font-family: 'Slabo 27px', serif;
      height:100vh;
    }

    .vertical-center {

      position:relative;
      top:50%;
      transform: translateY(-50%);

    }

    img {
      width:200px;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
    <h1>The app is up and running correctly</h1>
    <p>Another paragraph made at 23:06 05-12-20</p>

    <p>Welcome to the Sparta Test App</p>
    <img src="/images/logo.png" />
  </div>
</body>
</html>
